body {
    margin: 0
}

.d-flex {
    display: flex
}

.alit-c {
    align-items: center
}

.bgc-grey {
    background-color: grey
}

.first-bl-s {
    width: 250px;
    height: 100px;
}

.brdr {
    border: 5px solid black
}

.pad {
    padding: 30px
}

.bs-bb {
    box-sizing: border-box
}

.fd-column {
    flex-direction: column
}

.mt-30 {
    margin-top: 30px
}

body {
    margin: 0
}

.head {
    width: 1500px;
    height: 180px;
    justify-content: space-between;
}

.left-side {
    width: 300px;
    height: 2100px;
    row-gap: 30px;
}

.right-side-1 {
    width: 1200px;
    height: 400px
}

.right-side-block-1 {
    width: 1170px;
    height: 330px
}

.right-side-2 {
    width: 1200px;
    height: 200px;
    justify-content: space-evenly
}

.right-side-block-2 {
    width: 250px;
    height: 130px;
}

.right-side-center-left {
    width: 1000px;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.right-side-center-block-left {
    width: 450px;
    height: 150px;
}

.right-side-center-right {
    width: 200px;
    height: 1250px
}

.right-side-down-center-block {
    position: relative;
    left: 37%
}

.right-side-center-right {
    flex-direction: column;
    row-gap: 30px;
}

.right-side-center-block-right {
    width: 130px;
    height: 100px
}

.footer {
    flex-direction: column;
    height: 250px;
    row-gap: 50px
}

.footer-block-1 {
    width: 1120px;
    height: 50px
}

.footer-block-2 {
    width: 220px;
    height: 50px;
    position: relative;
    left: 40%
}