@media screen and (max-width: 400px ) {
    .contacts, .nav_items {
        display: none
    }

    .nav {
        padding: 14px 20px;
        max-width: 400px;
    }

    .nav_left {
        column-gap: 213px
    }

    .nav_logo img {
        width: 70px;
        height: 50px
    }

    .title {
        width: 300px;
        padding: 0 22px;
        margin-top: 303px;
        margin-left: 22px;
    }

    .title h2 {
        font-size: 30px;
        line-height: 34px
    }

    .title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .title p {
        font-size: 15px;
        line-height: 20px;
    }

    .view_menu_button {
        padding: 14px 45px;
        margin-top: 45px
    }

    .mobile_button {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: none;
    }

    .mobile_button_block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FF7400;
        width: 40px;
        height: 4px;

    }

    .products {
        position: static;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        padding: 3.5%;
        row-gap: 14px;
    }
}