.d-flex {
    display: flex
}

.justcont-c {
    justify-content: center
}

.alit-c {
    align-items: center
}

.bgc-grey {
    background-color: #9b9595;
}

.fs-50 {
    font-size: 50px
}

.h-300 {
    height: 300px
}

.mt-10 {
    margin-top: 10px
}

.w-1190 {
    width: 1190px
}

.father {
    flex-direction: column
}

.a {
    width: 1500px
}

.blocks {
    justify-content: space-between;
}

.block {
    width: 390px;
}

.f {
    width: 300px;
    height: 610px;
    margin-left: 10px
}
